body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 125vh;                                  /* 100% de la hauteur de l'écran */
    background-image: url('../assets/img/arriere_1.png');     /* Chemin vers ton image */
    background-size: cover;                         /* Agrandit l'image pour couvrir tout l'écran */
    background-repeat: no-repeat;                   /* Évite que l'image se répète */
    background-position: bottom;                    /* fix en bas limage */
}

/* ___________________________bande_______________________________________________ */


header {                                        /* bande */
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 14, 8);         /* léger fond sombre pour la lisibilité */
    color: rgb(107, 203, 164);
    padding: 15px 0px;                             /* taille border entre texte et ajout en dessous */
    top: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid rgb(25, 36, 46);    /* ligne blanche en bas de la bande */
}

/* Les sections gauche et droite occupent un espace égal */
.left-section, .right-section {
    flex: 1;
    display: flex;
    align-items: center;
}

.inline-nav > a {
    color: rgb(214, 214, 214);
    text-decoration: none;
    font-size: 20px;
    margin-left: 0; /* Supprime la marge gauche individuelle */
}

.inline-nav > a:hover, 
.inline-nav > a.active-link { 
    color: rgb(49, 204, 152) !important; 
    font-weight: bold !important; 
    font-size: 22px !important;
    text-decoration: none; /* Optionnel : enlève le soulignement s'il y en a un */
    border-bottom: 2px solid rgb(49, 204, 152);
    padding-bottom: 5px;
}

.content {
    margin-top: 500px;                       /* espace entre texte sous la bordure et la bordure*/
    padding: 20px;                           /* espace marge sous la border */
}

.inline-nav {
    display: flex;
    justify-content: center;  /* Centre horizontalement les liens */
    align-items: center;
    flex-grow: 1;             /* Prend tout l'espace horizontal disponible */
    gap: 25px;               /* Espacement entre les liens */
}


/* La section gauche aligne son contenu à gauche */
.left-section {
    justify-content: flex-start;
}

/* La section droite aligne son contenu à droite */
.right-section {
    justify-content: flex-end;
}


/* ___________________________parrotswap_______________________________________________ */

.audiowide {
    font-family: 'Audiowide', sans-serif;
    font-size: 20px;                                /* taille titre parrotswap */
    color: rgb(49, 204, 152);
}

.logo-img {
    height: 30px;                                /* logo parrot */
    margin-right: 7px;                          /* espace entre logo est parrotswap */
    margin-left: 15px;                          /* espace entre logo et gauche */
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;                        /* Enlève le soulignement */
}


/* __________________________________________________________________________ */



/* _____________________________wallet__________________________________________ */

.wallet-button {
    display: flex;
    align-items: center;
    background-color: #2d9654;            /* vert crypto */
    color: white;
    border: none;
    padding: 5px 13px;                      /* largeur bonton ; longeur bonton gauche */
    border-radius: 20px;                    /* arondie bonton */  
    padding-right: 2px;                     /* longueur bonton droite logo */  
    margin-right: 50px;                     /* pour décaler ver la gauche car barre */            
    font-size: 13px;                        /* taile écriture */   
    margin-right: 10px;                     /* distance entre le bonton et la marge droite */
    cursor: pointer;
    transition: background-color 0.2s;
}

.wallet-button:hover {
    background-color: #16a34a;
}
  
.wallet-icon {
    height: 22px;                           /* tail logo rabby */
    margin-right: 6px;                      /* étendu bouton a droite logo */
    border-radius: 50%;                     /* rend l’image parfaitement ronde */
}

.wallet-text {
    margin-right: 5px;                     /* espace texte logo */
}
/* __________________________________________________________________________ */


/* _______________________________SWAP___________________________________________ */

.swap-wrapper {
    display: flex;
    justify-content: center;                          /* Centre horizontalement */
    margin-top: 100px;                                /* Décalage de 500px par rapport au haut de la page */
    color: azure;
}


.swap-container {
    background: #1a1a1a;
    border-radius: 20px;                            /* arondit tour */
    padding: 20px;                                  /* épaiseur tour */
    width: 470px;                                   /* longueur fond */
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.1);      /* couleur du fondu glow */
    
}

.swap-box {
    background: #111;
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.amount-input::placeholder {
    color: grey;
    opacity: 1;                                 /* important pour que la couleur fonctionne bien */
}

.input-section {
    display: flex;
    flex-direction: column;
}

.amount {
    font-size: 28px;                        /* tail texte size */
    margin-bottom: 4px;                     /* espace entre size et valu */
}

.symbol {
    color: gray;                        /* coueleur valu */
    font-size: 14px;                      /* tail texte valu */
}

.token-select {
    background: #222;                   /* le fond du bonton select token */
    padding: 8px 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 4px;                               /* espace entre texte/logo/flèche */
}

.token-select img {                         /* logo token */
    width: 18px;
    height: 18px;
    margin-right: 5px;                     /* espace logo texte */
    border-radius: 20px;                    /* logo rond */
}

.arrow {
    text-align: center;
    margin-bottom: -11px;                    /* espace entre flèche et encadrer size token du bas */
    margin-top: -22px;                      /* espace entre flèche et encadrer size token du haut */
}

/* ________________________estimation en dollars en mini gris______________________ */

.amount-mini{
    text-align: right; 
    font-size: 12px; 
    margin-top: 4px;
}

/* __________________________________________________ */

/* ________________________bouton echange centre______________________ */
.arrow button {
    background: #1a1a1a;
    border: 2px solid #00ff99;
    color: #00ff99;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-size: 20px;                    /* taille flèche */
    cursor: pointer;
}



.button-wrapper {
    padding: 0px;                       /* espace pour la deuxième bordure */
    border: 6px solid #1a1a1a;          /* 1ère (extérieure) bordure grise */
    border-radius: 50%;
    display: inline-block;
}


/* _____________________________________________________ */

/* ________________________bouton confirme swap______________________ */
.action-button {
    background: #00cc44;
    padding: 14px;
    border-radius: 12px;
    font-size: 16px;
    color: white;
    text-align: center;
    cursor: pointer;
}
/* _____________________________________________________ */

/* ________________________pour sélect token_____________________________ */

.dropdown {
    position: relative;
}

.selected-token {                       /*  bouton selected token*/
    background: #222;
    padding: 8px 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    white-space: nowrap;                 /* pas de retour a la ligne */
    gap: 6px;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 110%;
    left: 0;
    background-color: #111;
    border: 1px solid #333;
    border-radius: 10px;
    z-index: 10;
    width: max-content;
    padding: 6px 0;
}



.dropdown-menu .token-option:hover {
    background-color: #222;
}

.token-option {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 14px;
    cursor: pointer;
    color: white;
}

.token-option:hover {
    background-color: #222;
}

.token-option img {
    width: 20px;                                /* arondi mini icone */
    height: 20px;
    object-fit: contain;
}


/* _____________________________________________________ */
.max {
    font-size: 12px;
    background: #66ff66;
    color: black;
    border-radius: 6px;
    padding: 2px 6px;
    margin-left: 8px;
    cursor: pointer;                            /* le curseur ce met en mode pointeur car bouton */
}

.amount-input {
    font-size: 28px;                            /* taile size haut */
    margin-bottom: 4px;
    background: transparent;
    border: none;
    color: white;
    width: 97%;                                   /* longueur size pour écrire */
    outline: none;
}

.amount-output {
  border: none;
  background: transparent;
  color: white;
  font-size: 28px;                              /* taile size bah */
  width: 100%;
  text-align: left;
}

.amount-output::placeholder {
  color: gray;
}

.amount.placeholder {                           /* jsp a quoi sa sert */
  color: gray;
}

/* Quand le vrai résultat est inséré, on enlève la classe placeholder et met en blanc par exemple */
.amount:not(.placeholder) {
  color: white;
}

.amount-output.placeholder {
    color: gray;                            /* quand il y a rien d'écrit en bas sa met gris */
}

/* ______________________________________________________________________________ */

/* ___________________________autre______________________________________ */


.amount-input::-webkit-outer-spin-button,
.amount-input::-webkit-inner-spin-button {          /* suprime la baPour Chrome, Safari, Edge, Opera */
    -webkit-appearance: none;
    margin: 0;
}

.amount-input[type="number"] {
    -moz-appearance: textfield;                     /* Pour Firefox */
}

/* ______________________________________________________________________________ */



